.wporg-block-meeting-calendar {
	margin: 0 auto;
}

.wporg-block-meeting-calendar table {
	table-layout: fixed;
	margin-bottom: 0; /* There is a global style that is adding a bottom margin to tables */
}

.wporg-meeting-calendar__header {
	display: flex;
	align-items: center;
}

.wporg-meeting-calendar__header div {
	flex: 1 1 0;
}

.wporg-meeting-calendar__header div:last-child {
	text-align: right;
}

.wporg-meeting-calendar__header h2 {
	text-align: center;
}

.wporg-meeting-calendar__header h2:before {
	display: none;
}

.wporg-meeting-calendar__cell {
	padding: 12px;
	vertical-align: top;
	height: 5em; /* height acts as min-height on table cells */
}

.wporg-meeting-calendar__cell strong {
	display: block;
	margin: -12px -12px 0;
	padding: 6px 12px;
	font-size: 0.8em;
	background: #ddd;
}

.wporg-meeting-calendar__cell h3 {
	font-size: 0.8em;
	font-weight: normal;
}

.wporg-meeting-calendar__btn-group button {
	margin-right: 6px;
}

.wporg-meeting-calendar__btn-group button:last-child {
	margin-right: 0;
}

.wporg-meeting-calendar__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.wporg-meeting-calendar__list-title {
	padding: 6px 12px;
	display: block;
	background: #ddd;
}

.wporg-meeting-calendar__list-event {
	display: flex;
	border-bottom: 1px solid #aaa;
	background: #fff;
}

.wporg-meeting-calendar__list-event > div {
	padding: 12px;
}

.wporg-meeting-calendar__list-event-team {
	font-size: 0.7rem;
}

.wporg-meeting-calendar__list-event-title {
	font-size: 1rem;
	margin: 0;
}

.wporg-meeting-calendar__list-event-subtitle {
	font-size: 0.75rem;
}

.wporg-meeting-calendar__filter {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.wporg-meeting-calendar__filter p {
	flex: 1;
	margin: 0 1em;
}

.wporg-meeting-calendar__modal-overlay {
	z-index: 1000001; /* popover z-index + 1 */
}
