.wporg-block-meeting-calendar {
	margin: 0 auto 32px;
}

.wporg-block-meeting-calendar table {
	table-layout: fixed;
	margin-top: 0; /* There is a global style that is adding a bottom margin to tables */
	margin-bottom: 0; /* There is a global style that is adding a bottom margin to tables */
	width: 100%;
}

.wporg-meeting-calendar__header {
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}

.wporg-meeting-calendar__header div {
	flex: 1;
}

.wporg-meeting-calendar__header div:last-child {
	text-align: right;
}

.wporg-meeting-calendar__header h2 {
	text-align: center;
}

.wporg-meeting-calendar__header h2:before {
	display: none;
}

.wporg-meeting-calendar__cell {
	padding: 4px;
	vertical-align: top;
	height: 180px; /* height acts as min-height on table cells */
}

.wporg-meeting-calendar__cell.is-today {
	background: #fcf8e3;
}

.wporg-meeting-calendar__cell strong {
	display: block;
	margin: -4px -4px 0;
	padding: 2px 4px;
	font-size: 0.8em;
	background: #ddd;
}

.wporg-meeting-calendar__cell-event.components-button {
	display: block;
	position: relative;
	padding: 4px;
	margin: 4px 0;
	font-size: 12px;
	font-weight: bold;
	font-weight: normal;
	border-radius: 2px;
	width: 100%;
}
/* These styles are separate for !important specificity with `wporg-meeting-calendar__team-*` styles below. */
.wporg-meeting-calendar__cell-event {
	background: #0085ba !important;
	color: #fff !important;
	text-decoration: none !important;
}
.wporg-meeting-calendar__cell-event:focus {
	text-decoration: underline !important;
	box-shadow: 0 0 0 1px black, 0 0 2px 1px rgba(0, 0, 0, 0.8) !important;
}

.wporg-meeting-calendar__dropdown .components-menu-group {
	padding: 7px;
}
.wporg-meeting-calendar__dropdown .components-menu-item__button {
	white-space: nowrap;
	overflow: hidden;
}

.wporg-meeting-calendar__cell-event-time {
	font-weight: normal;
}

.wporg-meeting-calendar__cell-event-title {
	font-weight: bold;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.wporg-meeting-calendar__btn-group button {
	margin-right: 6px;
}

.wporg-meeting-calendar__btn-group button:last-child {
	margin-right: 0;
}

.wporg-meeting-calendar__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.wporg-meeting-calendar__list li {
	list-style: none;
	margin: 0;
}

.wporg-meeting-calendar__list-title {
	padding: 6px 0;
	display: block;
	background: #ddd;
	font-size: 16px;
	margin-top: 16px;
	background: none;
}

.wporg-meeting-calendar__list-event {
	display: flex;
	border-bottom: 1px solid #aaa;
	background: #fff;
}

.wporg-meeting-calendar__list-event > div {
	padding: 12px;
}

.wporg-meeting-calendar__list-event > div:first-child {
	min-width: 90px;
	font-size: 16px;
}

.wporg-meeting-calendar__list-event-team {
	font-size: 14px;
	padding: 2px 6px;
	margin-bottom: 8px;
	border-radius: 4px;
	text-decoration: none !important;
	background: #0085ba;
	color: #fff !important;
	display: inline-block;
	font-family: sans-serif;
	width: 90px;
	text-align: center;
}

.wporg-meeting-calendar__list-event-team:hover,
.wporg-meeting-calendar__list-event-team:active,
.wporg-meeting-calendar__list-event-team:focus {
	color: #fff;
	text-decoration: underline !important;
}

.wporg-meeting-calendar__list-event-title {
	font-size: 24px;
	margin: 0 0 8px 0 !important;
	padding: 0 !important;
}

.wporg-meeting-calendar__list-event-copy {
	margin-top: 0 !important;
	font-size: 16px;
}

.wporg-meeting-calendar__list-event-details {
	display: flex;
	align-items: flex-start;
}

@media (min-width: 600px) {
	.wporg-meeting-calendar__list-event-details div:last-child {
		padding-left: 32px;
	}

	.wporg-meeting-calendar__list-event-team {
		margin: 0 16px;
	}
}

.wporg-meeting-calendar__modal-overlay {
	font-size: 14px;
}

.wporg-meeting-calendar__list-event {
	margin: 12px 0;
	border: 1px solid rgba(100, 100, 100, 0.3);
	border-radius: 2px;
}

.wporg-meeting-calendar__list-event-title {
	margin-top: 0 !important;
}

.wporg-meeting-calendar__list-event-title a {
	color: #333;
	font-size: 20px;
}

.wporg-meeting-calendar__list-event-title a:hover {
	text-decoration: underline;
}

.wporg-meeting-calendar__list-event-copy {
	color: #777;
	font-weight: 200;
	font-size: 14px !important;
}

.wporg-meeting-calendar__list-event,
.wporg-meeting-calendar__list-event-details {
	flex-direction: column;
}

.wporg-meeting-calendar__header,
.wporg-meeting-calendar__list,
.wporg-meeting-calendar__filter {
	padding: 8px;
}

@media (min-width: 600px) {
	.wporg-meeting-calendar__header,
	.wporg-meeting-calendar__list,
	.wporg-meeting-calendar__filter {
		padding: 0;
	}
	.wporg-meeting-calendar__list-event,
	.wporg-meeting-calendar__list-event-details {
		flex-direction: row;
	}
}

.wporg-meeting-calendar__header h2 {
	font-size: 28px;
}

.wporg-block-meeting-calendar table {
	border-collapse: collapse;
	background: #fff;
}

.wporg-block-meeting-calendar table th {
	text-align: center;
	font-size: 14px;
	padding: 8px;
	border: 1px solid #ddd;
	border-top: none;
}

.wporg-meeting-calendar__cell {
	border: 1px solid #ddd;
}

.wporg-meeting-calendar__cell:first-child,
.wporg-meeting-calendar__cell:last-child {
	background: #f1f1f1;
}

.wporg-meeting-calendar__cell strong {
	background: none;
	text-align: center;
}

/** Colors for each team */
.wporg-meeting-calendar__team-core {
	background: #cd0000 !important;
}
.wporg-meeting-calendar__team-design {
	background: #eec26a !important;
}
.wporg-meeting-calendar__team-mobile {
	background: #fba16c !important;
}
.wporg-meeting-calendar__team-polyglots {
	background: #c32283 !important;
}
.wporg-meeting-calendar__team-support {
	background: #33b4ce !important;
}
.wporg-meeting-calendar__team-docs,
.wporg-meeting-calendar__team-documentation {
	background: #3b7236 !important;
}
.wporg-meeting-calendar__team-themes {
	background: #4e3288 !important;
}
.wporg-meeting-calendar__team-plugins {
	background: #f06723 !important;
}
.wporg-meeting-calendar__team-accessibility,
.wporg-meeting-calendar__team-community {
	background: #11799d !important;
}
.wporg-meeting-calendar__team-meta {
	background: #aeadad !important;
}
.wporg-meeting-calendar__team-training {
	background: #e9c02d !important;
}
.wporg-meeting-calendar__team-tv {
	background: #73ad30 !important;
}
.wporg-meeting-calendar__team-marketing {
	background: #47bea7 !important;
}
.wporg-meeting-calendar__team-cli {
	background: #424242 !important;
}
.wporg-meeting-calendar__team-hosting {
	background: #5358a6 !important;
}
.wporg-meeting-calendar__team-tide {
	background: #1526ff !important;
}
.wporg-meeting-calendar__team-bbpress {
	background: #2d8e42 !important;
}
.wporg-meeting-calendar__team-buddypress {
	background: #d84800 !important;
}
.wporg-meeting-calendar__team-design,
.wporg-meeting-calendar__team-mobile,
.wporg-meeting-calendar__team-support,
.wporg-meeting-calendar__team-plugins,
.wporg-meeting-calendar__team-meta,
.wporg-meeting-calendar__team-training,
.wporg-meeting-calendar__team-tv,
.wporg-meeting-calendar__team-marketing,
.wporg-meeting-calendar__team-bbpress,
.wporg-meeting-calendar__team-buddypress {
	color: #000 !important;
}

.wporg-meeting-calendar__filter {
	display: flex;
	align-items: center;
  border: 1px solid #ddd;
  padding: 12px;
  background: #eee;
}

.wporg-meeting-calendar__filter-label {
  padding-right: 6px;
	margin-bottom: 0;
}

.wporg-meeting-calendar__filter-applied {
	flex: 1;
	margin: 0 1em;
}

.wporg-meeting-calendar__filter-label,
.wporg-meeting-calendar__filter-applied {
  font-size: 14px;
}

/** Overwriting a default rule on the dropdown container */
.wporg-meeting-calendar__filter-dropdown > div {
	margin-bottom: 0 !important;
}

.wporg-meeting-calendar__modal h1 {
	font-size: 16px !important;
}

.wporg-meeting-calendar__modal h1::before {
	display: none !important;
}

.wporg-meeting-calendar__modal-overlay {
	z-index: 1000001; /* popover z-index + 1 */
}
